<Doctype html>
<html>
<head>
	<title></title>
</head>
 <body>
 <div id=we-status>
{% if bot.alive %}
    微信在线
 <div>
<form action=/send>
<select id=groups name='group'>
{% for group in bot.groups() %}
  <option value ={{ group.nick_name }}> {{ group.nick_name }}</option>
{% endfor %}}
</select>
<textarea name='message'></textarea>
<input type='submit' value="Send" />
</form>
</div>
{% else %}
    微信已经离线
	<div id=qr>
		<img src = "{{request.static_url('zachat:static/wechat/qr.png')}}" />
	</div>
{% endif %}
</div>
</body>
</html>